# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini

# Editor & IDE Directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Temporary & Build Files
*.tmp
*.log
*.bak
dist/
build/
scratch/

# Python & Jupyter Notebook Artifacts
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Internal Automation & Helper Scripts
exec/
Convert-Image-Format/
Convert-Image-Format-Firefox.zip
